@use "reset";
@use "variables" as v;

body {
    margin: 1rem;
    // background: linear-gradient(to bottom, #1c92d2, #f2fcfe);
    background: center / cover url(./public/clouds.jpg);

    background-attachment: fixed;

    min-height: 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
